body{
    background-color: #333;
}

.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #17d4fe;
    font-size: 5vw;
    transform: translateX(-50%) translateY(-50%);
    letter-spacing: 7px;
    border: 5px solid #8386863c;
    border-radius: 10px;
    padding: 5vh 3vw;
}